.iml
.js.map
.js
.jar
*npm-debug.log
.mvn/
.vscode/
node_modules/
typings/
target/
out
src/main/resources/static/node/
.DS_Store

.irf
.crf
.drf
.lk
.idea
.project
.settings
.classpath
.factorypath
.springBeans
gemfire/server/gemfire-server-proto/scripts/loc-Waynes-MacBook-Pro-8.local
gemfire/server/gemfire-server-proto/scripts/server-Waynes-MacBook-Pro-8.local/


provided/sqlf_appointment/server/*
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
